absl-py==0.9
astor==0.8.1
audioread==2.1.8
backcall==0.1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
colorthief==0.2.1
cycler==0.10.0
Cython==0.29.10
decorator==4.4.0
dlib==19.18.0
dominate==2.4.0
easydict==1.9
folium==0.2.1
gast==0.3.2
google-pasta==0.1.7
graphviz==0.8.4
grpcio==1.24.3
h5py==2.9.0
idna==2.8
imageio==2.5.0
imgaug==0.2.5
ipython==5.5.0
ipython-genutils==0.2.0
jedi==0.14.0
joblib==0.13.2
jsonpatch==1.24
jsonpointer==2.0
jupyter-client==6.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.1
kiwisolver==1.1.0
librosa==0.7.2
llvmlite==0.29.0
Markdown==3.1.1
matplotlib==3.1.1
mxnet==1.5.1.post0
mxnet-cu101==1.5.0
networkx==2.3
numba==0.44.1
numpy
olefile==0.46
opencv-contrib-python==4.1.1.26
opencv-python==4.1.0.25
pandas
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.0
POT==0.4.0
prompt-toolkit
protobuf==3.13
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
pyparsing==2.4.0
pyssim==0.4
python-dateutil==2.8.0
python-speech-features==0.6
pytz==2019.2
PyWavelets==1.0.3
pyzmq==18.1.0
requests==2.23.0
resampy==0.2.2
scikit-image==0.15.0
scikit-learn
scipy==1.2.1
six==1.13.0
SoundFile==0.10.2
tensorboard
tensorflow-estimator==1.14.0rc1
tensorflow-gpu==1.14.0
termcolor==1.1.0
torch
torchfile==0.1.0
torchvision==0.4.0
tornado==5.1.0
tqdm
traitlets==5.0.0
urllib3==1.25.3
visdom==0.1.8.9
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.15.4
wrapt==1.11.1
